# VSCode editor config
.vscode/

# Logs
logs
*.log

# OS specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Optional: Sadece src/ klasörünü dahil etmek istiyorsan:
*
!/src/
!/public/
!.gitignore
!package.json
!package-lock.json
!tsconfig.json
!README.md
