.vet-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 4rem 1rem;
    text-align: center;
  }
  
  .vet-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2.5rem;
  }
  
  .vet-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .vet-card:hover {
    transform: translateY(-5px);
  }
  
  .vet-image {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 1rem;
  }
  
  .vet-info {
    text-align: center;
  }
  
  .vet-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }
  
  .vet-role {
    font-size: 1rem;
    color: #777;
  }
  
  .swiper-container {
    overflow: hidden;
  }
  
  
  .swiper-pagination-bullet-active {
    background-color: #607eff;
  }
  .swiper-slide {
    transition: transform 0.8s ease-in-out;
  }